[submodule "javautils"]
	path = javautils
	url = https://github.com/kullo/javautils.git
[submodule "libkullo/src/main/jniLibs"]
	path = libkullo/src/main/jniLibs
	url = git@bitbucket.org:kullo/libkullo-android-bin.git
[submodule "reduce"]
	path = reduce
	url = git@bitbucket.org:kullo/reduce.git
[submodule "reduce-android/src/main/jniLibs"]
	path = reduce-android/src/main/jniLibs
	url = git@bitbucket.org:kullo/reduce-android-bin.git
[submodule "dialogs-for-android"]
	path = dialogs-for-android
	url = https://github.com/DialogsForAndroid/dialogs-for-android.git
