<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kullo.android">

    <!--
    From getExternalFilesDir():
      Starting in KITKAT [Android 4.4, API level 19, October 2013], no permissions
      are required to read or write to the returned path; it's always accessible
      to the calling app. This only applies to paths generated for package name of
      the calling application. To access paths belonging to other packages,
      WRITE_EXTERNAL_STORAGE and/or READ_EXTERNAL_STORAGE are required.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!--
    Required when reading files from Gallery to avoid
      java.lang.SecurityException: Permission Denial: reading
      com.android.providers.media.MediaProvider uri
      content://media/external/images/media/69 from pid=4062, uid=10055
      requires android.permission.READ_EXTERNAL_STORAGE, or grantUriPermission()

    Required when receiving file:// shares, e.g. via ES File Explorer or Amaze.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM -->
    <permission android:name="net.kullo.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="net.kullo.android.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.KulloApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <!-- https://firebase.google.com/support/guides/disable-analytics -->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />

        <activity
            android:name=".screens.WelcomeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ConversationsListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="net.kullo.action.SYNC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MessagesListActivity" />
        <activity
            android:name=".screens.SingleMessageActivity" />
        <activity
            android:name=".screens.ComposeActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kullo" />
                <!-- kullo: -->
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.StartConversationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.AboutActivity"
            android:label="@string/menu_about" />
        <activity
            android:name=".screens.SettingsActivity"
            android:label="@string/menu_settings" />
        <activity
            android:name=".screens.ShareReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.CropImageActivity"
            android:label="@string/crop_image" />
        <activity
            android:name=".screens.AccountActivity"
            android:label="@string/menu_account" />
        <activity android:name=".screens.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.ImpressumActivity"
            android:label="@string/activity_title_impressum" />
        <activity
            android:name=".screens.LicensesActivity"
            android:label="@string/activity_title_licenses" />
        <activity android:name=".screens.LeaveInboxActivity" />

        <!-- file open provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.kullo.android"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- NOTIFICATIONS -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.kullo.android" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notifications.GcmNotificationListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.GcmRegistrationIntentService"
            android:exported="false" />
        <!-- END NOTIFICATIONS -->

    </application>

</manifest>
