<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.kullo.android">

    <!--
    Required when reading files from Gallery to avoid
      java.lang.SecurityException: Permission Denial: reading
      com.android.providers.media.MediaProvider uri
      content://media/external/images/media/69 from pid=4062, uid=10055
      requires android.permission.READ_EXTERNAL_STORAGE, or grantUriPermission()

    Required when receiving file:// shares, e.g. via ES File Explorer or Amaze.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.KulloApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/KulloAppTheme">

        <!-- https://firebase.google.com/support/guides/disable-analytics -->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />

        <activity
            android:name=".screens.WelcomeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ConversationInfoActivity" />
        <activity
            android:name=".screens.ConversationsListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="net.kullo.action.SYNC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                android:value=".screens.SearchActivity" />
        </activity>
        <activity
            android:name=".screens.MessagesListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".screens.ConversationsListActivity">
            <meta-data android:name="android.app.default_searchable"
                android:value=".screens.SearchActivity" />
        </activity>
        <!--
        Parent may also be the search results activity, but NavUtils handles this properly.

        No explicit intent with conversation ID necessary since singleTop ensures that
        MessagesListActivity is not recreated. In case of a killed app, the parent activity
        stack is recreated (tested in Android 4.4 and Android 6).
        -->
        <activity
            android:name=".screens.SingleMessageActivity"
            android:parentActivityName=".screens.MessagesListActivity" />
        <activity
            android:name=".screens.ComposeActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kullo" />
                <!-- kullo: -->
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.SearchActivity"
            android:parentActivityName=".screens.ConversationsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".screens.StartConversationActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".screens.ConversationsListActivity"/>
        <activity
            android:name=".screens.AboutActivity"
            android:label="@string/menu_about"
            android:parentActivityName=".screens.ConversationsListActivity"/>
        <activity
            android:name=".screens.ProfileSettingsActivity"
            android:label="@string/menu_profile_settings"
            android:parentActivityName=".screens.ConversationsListActivity"/>
        <activity
            android:name=".screens.ShareReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.CropImageActivity"
            android:label="@string/crop_image" />
        <activity
            android:name=".screens.MasterKeyActivity"
            android:label="@string/menu_masterkey"
            android:parentActivityName=".screens.ConversationsListActivity"/>
        <activity android:name=".screens.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.ImpressumActivity"
            android:label="@string/activity_title_impressum"
            android:parentActivityName=".screens.AboutActivity"/>
        <activity
            android:name=".screens.LicensesActivity"
            android:label="@string/activity_title_licenses"
            android:parentActivityName=".screens.AboutActivity"/>

        <!-- ensure activity is not destroyed when rotation changes (http://stackoverflow.com/q/3329318/2013738) -->
        <activity
            android:configChanges="orientation|screenSize"
            android:name=".screens.LeaveInboxActivity" />

        <!-- file open provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.kullo.android"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- NOTIFICATIONS -->
        <!-- FirebaseMessagingService/FirebaseInstanceIdService perform security checks
             at runtime, no need for explicit permissions despite exported="true"
             (See http://stackoverflow.com/q/43927149/2013738) -->
        <service
            android:name=".notifications.InstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- END NOTIFICATIONS -->

    </application>

</manifest>
