<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kullo.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.androidc2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.KulloApplication"
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".screens.RegistrationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.ConversationsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="net.kullo.action.SYNC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MessagesListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SingleMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.ComposeActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kullo" /> <!-- kullo: -->
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.StartConversationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screens.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/menu_about"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/menu_settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screens.CropImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/crop_image"/>
        <activity
            android:name=".screens.AccountActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/menu_account"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.ImpressumActivity"
            android:label="@string/activity_title_impressum"/>
        <activity
            android:name=".screens.LicensesActivity"
            android:label="@string/activity_title_licenses"/>
        <activity android:name=".screens.LogoutActivity"/>

        <!-- NOTIFICATIONS -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="net.kullo.android" />
            </intent-filter>
        </receiver>
        <service
            android:name="net.kullo.android.notifications.GcmNotificationListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="net.kullo.android.notifications.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
                <service
            android:name="net.kullo.android.notifications.GcmRegistrationIntentService"
            android:exported="false">
        </service>
        <!-- END NOTIFICATIONS -->

    </application>

</manifest>
